body{
	font-family: "Microsoft YaHei","÷ו","ו",sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

.head{
	background: #e44d42;
	text-align: center;
	width: 100%;
}

.head .head-content img{
	width: 80vw;
	margin-top: 3vh;
	margin-bottom: 1vh;
}

.container{
	width: 100%;
}

.footer{
	width: 100%;
	height: 10vh;
	background: #2c2c2c;
	position: fixed;
	bottom: 0;
}

