<?xml version="1.0" encoding="UTF-8"?>  
<beans default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">  
       
    <!-- <bean id="dataSource_wrap" class="org.springframework.jndi.JndiObjectFactoryBean">
 		<property name="jndiName" value="wrap"></property>
 		<property name="resourceRef" value="true"></property>
 		<property name="expectedType" value="javax.sql.DataSource"></property>   	
    </bean> -->
</beans> 