<?xml version="1.0" encoding="UTF-8"?>  
<beans default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">  
       
    <!-- <bean id="sessionFactory_wrap"
    	class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    	<property name="dataSource">
    		<ref bean="dataSource_wrap" />
    	</property>	
    	<property name="hibernateProperties">
    		<props>
    			<prop key="hibernate.dialect">
    				org.hibernate.dialect.MySQLDialect
    			</prop>
    			<prop key="hibernate.show_sql">true</prop>
    			<prop key="hibernate.cache.region.factory_class">
    				org.hibernate.cache.ehcache.EhCacheRegionFactory
    			</prop>
    			<prop key="hibernate.format_sql">false</prop>
    			<prop key="hibernate.use_sql_comments">false</prop>
    			<prop key="hibernate.jdbc.fetch_size">80</prop>
    			<prop key="hibernate.jdbc.batch_size">80</prop>
    			<prop key="hibernate.jdbc.use_streams_for_binary">false</prop>
    			<prop key="hibernate.cache_use_second_level_cache">false</prop>
    			<prop key="hibernate.max_fetch_depth">3</prop>
    		</props>
    	</property>
    	<property name="packagesToScan" value="com.icaikee.*"></property>
    </bean>
    
    <bean id="hibernateDao" class="com.icaikee.wrap.db.hibernate.HibernateDao">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory_wrap"></ref>
    	</property>
    </bean> -->
</beans> 